header {
  width: 100%;
  padding-top: 16px;
}

.navbar{
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-list{
  list-style: none;
  display: flex;
  margin-left: 20px;
  

  li {
    margin-left: 26px;
  }

  @include responsive(){
    display: none;
  }
}

.flex-center{
  display: flex;
  align-items: center;
}




.nav-link {
  display:inline-block;
 color: $gray-3;

  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: uppercase;
  font-weight: 200;

  padding: 8px 16px;

  position: relative;

  transition: .7s ease;

  &::after{
    content:'';
    display: block;
    position: absolute;
    top:-50px;
    left: 50%;

    width: 2px;
    height: 0px;
    
    background: linear-gradient(180deg, rgba(233,29,34,0) 0%, #E91D22 100%)
    ;

    transition: .5s ease;

  }

  &:hover{
      color:$white;

      &::after{
        height: 50px;
      }

    }
}

.bx {
  display: none;

  @include responsive(){
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    
    background-color: $white; 
  }
}

.nav-social{
  display: flex;
    svg{
      cursor: pointer;
        margin-left: 16px;
        width: 24px;
      path, circle{
        transition: .7s ease;
      }
      &:hover{
        path, circle{
          fill: $red-light;
          transform: translate3d(0,-3px,0);
        }
      }
    }
    @include responsive(){
      display: none;
    }
}

